body {
    height: 100%;
    margin: 0;
}

/* First Block Settigns START */

.first_block_main {
    color: white;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-left: 48px;
    padding-right: 48px;
}

/* Header Settings START */
.header {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}

.header_logo {
    width: 120px;
    height: auto;
    padding-bottom: 0;
}

.header_links ul {
    text-decoration: none;
    list-style-type: none;
    color: grey;
    display: flex;
    gap: 16px;
    margin-left: 0;
    padding-left: 0;
}

.header_links ul a {
    text-decoration: none;
    font-size: 24px;
    color: grey;
}
/* Header Settings END */

/* First Block Content Settings START */
.first_block_content {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin: 36px 0px;
    gap: 64px;
}


.first_block_content_right .first_block_image {
    height: 400px;
}

.first_block_content_left {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.first_block_content_left .maintext {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.first_block_content_left .subtext {
    font-size: 24px;
    color: #e5e7eb;
}

.first_block_content_left .button {
    background-color: #3882f6;
    align-self: flex-start;
    padding: 4px 12px;
    border-radius: 8px;
    border: 0;
}
/* First Block Content Settings END */

/* First Block Settings END */




/* Second Block Settings START */

.second_block_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 42px 24px 42px;
    background-color: white;
}

.second_block_title {
    font-weight: bold;
    margin-bottom: 16px;
    font-size: 36px;
}

.second_block_items {
    display: flex;
    gap: 24px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.item img {
    width: 120px;
    height: 120px;
    border: 2px solid blue;
    border-radius: 25px;
}

.item .infotext {
    max-width: 60px;
    text-align: center;
}

/* Second Block Settings END */




/* Third Block Settings START */

.third_block_main {
    background-color: #e5e7eb;
    padding: 80px 160px 80px 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.quote {
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
}

.author {
    font-size: 24px;
    color: #1f2937;
    text-align: end;
    margin-top: 16px;
    padding-right: 40px;
}

/* Third Block Settings END */




/* Fourth Block Settings START */

.fourth_block_main {
    padding: 36px 48px;
    background-color: white;
}

.fourth_block_container {
    color: white;
    background-color: #3882f6;
    padding: 16px 32px;
    display: flex;
}

.fourth_block_container_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.bigger_text {
    font-size: 32px;
    font-weight: bold;
    text-align: start;
}

.smaller_text {
    font-size: 24px;
    text-align: start;
}

.fourth_block_container_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.fourth_block_main .button {
    padding: 4px 12px;
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
}

/* Fourth Block Settings END */




/* Footer Settings START */

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.footer_text {
    text-align: center;
    color: #e5e7eb;

}

/* Footer Settings END */